/* styles copied from a.inline-roll */

a.inline-roll-cmd {
  background: #DDD;
  padding: 1px 4px;
  border: 1px solid var(--color-border-dark-tertiary);
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}
a.inline-roll-cmd i {
  color: var(--color-text-dark-inactive);
  margin-right: 0.25em;
}
a.inline-roll-cmd.gmroll {
  background: #e8e8ef;
  border-color: #545469;
}
a.inline-roll-cmd.blindroll {
  background: #f5eaf5;
  border-color: #6b476b;
}

/* style an inline roll with an image in it */

a.inline-roll-cmd:has(.item-image) {
  display: inline-block;
}
a.inline-roll-cmd .item-image {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: 50% 0;
  border: none;
  margin-right: 5px;
}
a.inline-roll-cmd:hover .item-image {
  background-image: url("../../../icons/svg/d20-grey.svg") !important;
}
a.inline-roll-cmd .item-image:hover {
  background-image: url("../../../icons/svg/d20-black.svg") !important;
}

/* migration form styling */
.ircmigration .warning {
  background: rgba(214, 150, 0, 0.8);
  border: 1px solid var(--color-level-warning);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--color-shadow-dark);
  color: var(--color-text-light-1);
  font-size: var(--font-size-14);
  text-shadow: 1px 1px black;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 6px 8px;
  line-height: 20px;
}
